<app-button-back></app-button-back>

<form class="mt-4" (ngSubmit)="saveChanges()" #form="ngForm">

  <div class="form-group" *ngIf="!isNew()">
    <label class="mr-1">Ticket-Nr.</label>
    <label>{{ model.ticketNumber }}</label>
  </div>

  <hr>
  <h2 class="h5">Einlasskontrolle</h2>
  <div class="form-group input-switch">
    <label>Ticket wurde geprüft</label>
    <p-inputSwitch name="validated" [(ngModel)]="model.validated">
    </p-inputSwitch>
  </div>

  <hr>
  <h2 class="h5">Zahlungsstatus</h2>
  <div class="form-group">
    <select name="paymentStatus" [(ngModel)]="model.paymentStatus" class="custom-select">
      <option value="{{ PaymentStatus.Open }}">Offen</option>
      <option value="{{ PaymentStatus.Paid }}">Bezahlt</option>
      <option value="{{ PaymentStatus.Presold }}">Vorverkauf</option>
    </select>
  </div>

  <hr>
  <h2 class="h5">Einverständniserklärung</h2>
  <div class="form-group input-switch">
    <label>Hat die Person die Bedingungen (z. B. Datenschutzbestimmungen/AGB) des Veranstalters akzeptiert?</label>
    <div>
      <p-triStateCheckbox name="termsAccepted" [(ngModel)]="model.termsAccepted"></p-triStateCheckbox>
      <p [ngSwitch]="model.termsAccepted">
        (<span *ngSwitchCase="null">unbekannt</span>
        <span *ngSwitchCase="false">nicht akzeptiert</span>
        <span *ngSwitchCase="true">akzeptiert</span>)
      </p>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Speichern</button>
  </div>
</form>

<div class="mt-3 mb-5 text-muted">
  Erstellt von {{ model.creator || 'SYSTEM' }} am {{ model.createdAt | date:'short' }}.<br>
  Zuletzt geändert von {{ model.editor || 'SYSTEM' }} am {{ model.editedAt | date:'short' }}.
</div>

<div class=mt-3>{{ model | json }}</div>