<div class="card-deck mt-4">
  <app-live-status class="card"></app-live-status>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Manuelle Eingabe der Ticketnummer</h5>
      <p class="card-text">Überprüfe ein Ticket, indem du die Ticketnummer eingibst.</p>
      <a [routerLink]='["/entrance-control/manual"]' class="stretched-link"></a>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2 class="h4">Support-Tickets</h2>
    <p>Die Ansicht wird alle 5 Sekunden automatisch aktualisiert.</p>
    <app-support-tickets-list></app-support-tickets-list>
  </div>
</div>