<h1>Einlasskontrolle</h1>

<div class="card-deck mt-4">
  <div class="card">
    <img class="card-img-top d-md-none" src="assets/images/smartphone.svg">
    <div class="card-body">
      <h5 class="card-title">QR-Code scannen</h5>
      <p class="card-text">Scanne die Tickets mit deinem Smartphone.</p>
      <a [routerLink]='["/entrance-control/app"]' class="stretched-link"></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top d-md-none" src="assets/images/textinput.svg">
    <div class="card-body">
      <h5 class="card-title">Manuelle Eingabe der Ticketnummer</h5>
      <p class="card-text">Überprüfe ein Ticket, indem du die Ticketnummer eingibst.</p>
      <a [routerLink]='["/entrance-control/manual"]' class="stretched-link"></a>
    </div>
  </div>
</div>