@{
    Layout = "_TicketStatusLayout";
}
<div class="ticket-status bg-danger text-white text-center">
    <h1 class="mt-5">@ViewBag.ErrorMessage</h1>
    <i class="icon mt-5 far fa-times-circle"></i>
</div>