@model EventManagement.WebApp.Models.ConferenceDialogModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.EventName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/conference-dialog.css" />
</head>

<body>

    <script id="message-template" type="text/x-handlebars-template">
        <div class="message message-left message-server">
            <div class="message-body">
                {{ breaklines content }}
            </div>
        </div>
    </script>

    <div class="chat-panel">

        <div class="message message-right message-user">
            <div class="message-body">
                <p>Ja, das stimmt!</p>
            </div>
        </div>

        <div class="message message-left message-server">
            <div class="message-body">
                Ticket prüfen
            </div>
        </div>

        <div class="message message-left message-success">
            <div class="message-body">
                <div class="message-icon">
                    <i class="far fa-check-circle"></i>
                </div>
                <p>Check-in erfolgreich.</p>
            </div>
        </div>

        <div class="message message-left message-warning">
            <div class="message-body">
                <div class="message-icon">
                    <i class="far fa-question-circle"></i>
                </div>
                <p>Hast du die Einverständniserklärung deiner Eltern dabei?</p>
            </div>
        </div>

        <div class="message message-left message-danger">
            <div class="message-body">
                <div class="message-icon">
                    <i class="far fa-times-circle"></i>
                </div>
                <p>Leider gibt es ein Problem beim Check-in. Bitte gehe zur Support Line, unsere Mitarbeiter dort helfen dir weiter.</p>
            </div>
        </div>

    </div>

    <div class="answer-panel">
        <div class="splitter">
            <div class="splitter-icon"></div>
        </div>
        <button class="answer">Ja, das ist richtig!</button>
        <button class="answer">Nein das ist falsch!</button>
    </div>

    <script type="text/javascript">
        var model = @Html.Raw(Json.Serialize(Model))
    </script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/handlebars/handlebars.min.js"></script>
    <script src="~/js/conference-dialog.js"></script>
</body>
</html>