<h1>Dashboard</h1>

<h3 class="mt-4 h5">
    Status
    <span class="badge badge-primary fade" *ngIf="timer"
          [ngClass]="{'fade-in': blink}">Live</span>
</h3>
Tickets versendet: <span *ngIf="status">{{ status.ticketsDelivered }} / {{ status.ticketsTotal }}</span><br>
Check-In: <span *ngIf="status">{{ status.ticketsCheckedIn }} / {{ status.ticketsTotal }}</span>

<h3 class="mt-5 h5">Kontingente</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Tickettyp</th>
                <th scope="col">Anzahl</th>
                <th scope="col">Max. Kontingent</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quota of quotas">
                <td>{{ quota.name }}</td>
                <td [ngClass]="{'text-danger': quota.quota > 0 && quota.count > quota.quota}">
                    {{ quota.count }}
                </td>
                <td>{{ quota.quota }}</td>
            </tr>
        </tbody>
    </table>
</div>