<h1>Events</h1>

<p *ngIf="!events || events.length === 0" class="mt-4">
  In nächster Zeit sind keine Events geplant.
</p>

<a class="btn btn-primary" [routerLink]='["/events/new"]'>Neu</a>

<div *ngIf="events && events.length > 0" class="row mt-3">
  <div class="col-md">
    <div class="list-group">
      <a *ngFor="let event of events" [routerLink]='["/"]' (click)="select(event, true)"
         class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ event.name }}</h5>
          <a class="btn btn-outline-primary"
            (click)="select(event)"
            [routerLink]='["/events", event.id]'>
            Einstellungen
          </a>
        </div>
        <p class="mb-1">
          <span *ngIf="event.startTime !== event.endTime">
            {{ event.startTime | date:'short' }} - {{ event.endTime | date:'short' }}
          </span>
          <span *ngIf="event.startTime === event.endTime">
            {{ event.startTime | date:'short' }}
          </span>
        </p>
        <small *ngIf="event.location">{{ event.location }}</small>
      </a>
    </div>
  </div>
</div>