<nav class="navbar navbar-light mt-3 mb-3 p-0">
  <div class="form-inline">
      <button type="button" class="btn btn-light"
      (click)="loadLogEntries()"><i class="fas fa-redo"></i></button>
  </div>
</nav>

<div *ngFor="let entry of entries" class="row mt-4">
  <div class="col-sm mb-2" style="max-width: 80px">
    <span [ngSwitch]="entry.action" [ngClass]="{
        'icon': true,
        'icon-success': entry.level === 'success',
        'icon-warning': entry.level === 'warn',
        'icon-danger': entry.level === 'fail'
      }">
      <span *ngSwitchCase="'email_sent'">
        <i class="material-icons">
          {{ entry.level === 'success' ? 'email' : 'cancel_schedule_send' }}
        </i>
      </span>
      <span *ngSwitchCase="'ticket_order'">
        <i class="fas fa-shopping-cart"></i>
      </span>
      <span *ngSwitchCase="'terms_accepted'">
        <i class="fas fa-file-signature"></i>
      </span>
      <span *ngSwitchCase="'payment_status_updated'">
        <i class="fas fa-coins"></i>
      </span>
      <span *ngSwitchCase="'ticket_validated'">
        <i [ngClass]="{ 
          'fas': true,
          'fa-check': entry.level === 'success',
          'fa-times': entry.level === 'fail'
        }"></i>
      </span>
      <span *ngSwitchCase="'ticket_status_changed'">
        <i [ngClass]="{ 
          'fas': true,
          'fa-user-check': entry.level === 'success',
          'fa-user-times': entry.level === 'fail'
        }"></i>
      </span>
      <span *ngSwitchDefault>
        <i class="material-icons">done</i>
      </span>
    </span>
  </div>
  <div class="col-sm">
    <p>{{ entry.detail }}</p>
  </div>
  <div class="col-sm">
    <p class="text-muted" style="font-size: 0.8rem">
      {{ entry.time | date:'long' }}
    </p>
  </div>
</div>

<div *ngIf="!entries || entries.length == 0" class="my-4">
  Noch keine Einträge vorhanden.
</div>