<h1>Event anlegen</h1>

<form class="mt-4" (ngSubmit)="submit()" #eventForm="ngForm">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" maxlength="300" placeholder="Planetshakers LIVE | ONE Events 2019"
           [(ngModel)]="model.name" required>
  </div>

  <div class="form-group">
    <label for="startTime">Beginn</label>
    <div class="input-group">
      <p-calendar name="startTime" id="startTime" required
                  [(ngModel)]="model.startTime" [minDate]="minDate" showTime="true" dateFormat="dd.mm.yy" hourFormat="24">
      </p-calendar>
    </div>
  </div>

  <div class="form-group">
    <label for="endTime">Ende</label>
    <div class="input-group">
      <p-calendar name="endTime" id="endTime" required
                  [(ngModel)]="model.endTime" [minDate]="minDate" showTime="true" dateFormat="dd.mm.yy" hourFormat="24">
      </p-calendar>
    </div>
  </div>

  <div class="form-group">
    <label for="entranceTime">Einlasszeit</label>
    <div class="input-group">
      <p-calendar name="entranceTime" id="entranceTime"
                  [(ngModel)]="model.entranceTime" [timeOnly]="true" hourFormat="24">
      </p-calendar>
    </div>
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" name="location" id="location" maxlength="300" placeholder="Ratiopharm Arena Neu-Ulm, Europastraße 25, 89231 Neu-Ulm"
           [(ngModel)]="model.location" required>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!eventForm.form.valid">Speichern</button>
</form>