<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/events", currentEvent == null ? "" : currentEvent.id]' (click)="collapse()">
        {{ currentEvent?.name || 'Event Management' }}
        <span class="badge badge-pill badge-dark" *ngIf="demoModeEnabled" ngbTooltip="Wenn der Demo-Modus in den E-Mail-Einstellungen aktiviert wurde, werden alle E-Mails im System an einen
        vordefinierten Empfängerkreis gesendet. Somit kann der E-Mail-Versand
        getestet werden.">Demo</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav mr-auto">
          <li *ngIf="currentEvent" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]' (click)="collapse()">Dashboard</a>
          </li>
          <li *ngIf="currentEvent" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/tickets"]' (click)="collapse()">Tickets</a>
          </li>
          <li *ngIf="currentEvent" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/entrance-control"]' (click)="collapse()">Einlasskontrolle</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li *ngIf="currentUser" class="nav-item" ngbDropdown placement="bottom-right">
            <button class="nav-link btn btn-link text-dark"
                    id="accountDropDown" ngbDropdownToggle>
              <i class="material-icons md-32 p-0">account_circle</i>
            </button>
            <div ngbDropdownMenu aria-labelledby="accountDropDown">
              <h6 class="dropdown-header">Hallo {{ currentUser }}!</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="swagger">
                <i class="fas fa-code"></i>
                API Documentation
              </a>
              <a class="dropdown-item" href="hangfire">
                <i class="fas fa-server"></i>
                Background Jobs
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                Abmelden
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
