<h1>Einlasskontrolle</h1>

<div class="mt-4">
  <h2 class="h4">Ticket manuell überprüfen</h2>
  <div class="my-3">
    Wenn der QR-Code nicht lesbar ist, können Sie hiermit ein
    Ticket entwerten, indem Sie die Ticket-Nr. eingeben.
  </div>
  <form (ngSubmit)="validateTicket()" #form="ngForm">
    <div class="form-group">
      <label for="ticketNumber">Ticket-Nr. eingeben</label>
      <input name="ticketNumber" type="text" class="form-control"
            [(ngModel)]="ticketNumber" required>
    </div>
    <input type="submit" class="btn btn-primary" [disabled]="!form.form.valid" value="Absenden">
  </form>
</div>