.form-group.input-switch {
    display: table;
}
.form-group.input-switch > * {
    display: table-cell;
    vertical-align: top;
    padding-right: 20px;
}
.ticket-header {
    padding: 10px 20px;
    max-width: 600px;
}